*{
    padding: 0;
    margin: 0;
}
.topbar{
    background-color: bisque;
}

.topbar h1{
    padding: 10px;
    font-family: 'Lobster', cursive;
}
.navbar{
    background-color: aqua;
    position: relative;
}
/*          */
.navbar ul{
    margin-left: 20px;
    list-style: none;
    display: flex;
    margin-left: 60%;     
}

.navbar li{
    padding: 5px;
    transition: 350ms;
}

.navbar li:hover{
    background-color: rgb(183, 233, 44);
}

.showcase{
    text-align: center;
    font-size: 35px;
    letter-spacing: 5px;
    word-spacing: 8px;
    color: #ccc;
    height: 300px;
    background: linear-gradient(to bottom right, #f19c13b7, #c03a2bb7), url(https://cdn.pixabay.com/photo/2015/06/30/00/19/mountain-826114_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.showcase h3{
    position: absolute;
    margin-top: 10%;
    margin-left: 15%;
}